# Import packages

In [1]:
import pandas as pd
import numpy as np
from numpy import datetime64
import warnings
from datetime import timedelta
import os

In [2]:
warnings.filterwarnings("ignore")

In [3]:
Kim's working directory
# os.chdir('/Users/kimjohnson/Library/CloudStorage/Box-Box/03_MisinformationMon/Data Team/Data management and analysis/Data inputs and outputs')

# Olivia's working directory
os.chdir('/Users/wyy72/Box/03_MisinformationMon/Data Team/Data management and analysis/Data inputs and outputs/')

# Read in data

In [4]:
df = pd.read_excel('3_GENERATED WEEKLY FILES/SurveyExport_Merged_2.xlsx')

myth_vars = pd.read_csv('2_DATA_PROCESSING/myth_vars2.csv') # need to remove the claims that are not in the newer dataset after removing the first two years of data

unique_myths = myth_vars.survey_var.unique() # gets list of unique myths these all have numbers though
myth_vars.head()
myth_vars.tail()

     survey_var result_var inaccurate
170  M249_XHeat      XHeat         No
171  NCA4_NCMV1      NCMV1         No
172  M250_HIVSh      HIVSh         No
173  M251_STIBC      STIBC        Yes
174  M252_DFPFA      DFPFA         No

In [5]:
# Check if any value in the 'Name' column contains whitespace
myth_vars['has_whitespace'] = myth_vars['inaccurate'].str.contains(r'\s', na=False)

print(myth_vars)

         survey_var result_var inaccurate  has_whitespace
0     M109_CovMonvx   CovMonvx         No           False
1     M120_CovNrise   CovNrise         No           False
2      M121_NhnADHD    NhnADHD         No           False
3     M122_StlMCCWt   StlMCCWt         No           False
4    M123_CovNwVrnt  CovNwVrnt         No           False
..              ...        ...        ...             ...
170      M249_XHeat      XHeat         No           False
171      NCA4_NCMV1      NCMV1         No           False
172      M250_HIVSh      HIVSh         No           False
173      M251_STIBC      STIBC        Yes           False
174      M252_DFPFA      DFPFA         No           False

[175 rows x 4 columns]

In [6]:
df = pd.read_excel('3_GENERATED WEEKLY FILES/SurveyExport_Merged_2.xlsx')

myth_vars = pd.read_csv('2_DATA_PROCESSING/myth_vars2.csv') # need to remove the claims that are not in the newer dataset after removing the first two years of data

unique_myths = myth_vars.survey_var.unique() # gets list of unique myths these all have numbers though
myth_vars.head()
myth_vars.tail()


# Check if any value in the 'Name' column contains whitespace
myth_vars['has_whitespace'] = myth_vars['inaccurate'].str.contains(r'\s', na=False)

print(myth_vars)

         survey_var result_var inaccurate  has_whitespace
0     M109_CovMonvx   CovMonvx         No           False
1     M120_CovNrise   CovNrise         No           False
2      M121_NhnADHD    NhnADHD         No           False
3     M122_StlMCCWt   StlMCCWt         No           False
4    M123_CovNwVrnt  CovNwVrnt         No           False
..              ...        ...        ...             ...
170      M249_XHeat      XHeat         No           False
171      NCA4_NCMV1      NCMV1         No           False
172      M250_HIVSh      HIVSh         No           False
173      M251_STIBC      STIBC        Yes           False
174      M252_DFPFA      DFPFA         No           False

[175 rows x 4 columns]

In [7]:
MIassess = df[["ExternalReference", "M_more", "surveydate", "M_more_react", "M_more_where", "M_more_where_7_TEXT",  "site"]]
MIassess = MIassess.dropna(subset=["M_more"])
pd.DataFrame(MIassess).to_excel('3_GENERATED WEEKLY FILES/MIassess.xlsx', header=True, index=False)

In [8]:
len(MIassess)
# column_names = MIassess.columns.tolist()
# print(column_names)  # Output: ['A', 'B']

6258

In [9]:
better = df[["ExternalReference", "STL_Better", "surveydate", "site"]].dropna()
STL_better = (better[(better['site'] == 'STL')])
NE_better = (better[(better['site'] == 'NE')])
ATL_better = (better[(better['site'] == 'ATL')])
NC_better = (better[(better['site'] == 'NC')])
MS_better = (better[(better['site'] == 'MIS')])

In [10]:
pd.DataFrame(better).to_excel('3_GENERATED WEEKLY FILES/better.xlsx', header=True, index=False)
pd.DataFrame(STL_better).to_excel('3_GENERATED WEEKLY FILES/STL_better.xlsx', header=True, index=False)
pd.DataFrame(NE_better).to_excel('3_GENERATED WEEKLY FILES/NE_better.xlsx', header=True, index=False)
pd.DataFrame(ATL_better).to_excel('3_GENERATED WEEKLY FILES/ATL_better.xlsx', header=True, index=False)
pd.DataFrame(NC_better).to_excel('3_GENERATED WEEKLY FILES/NC_better.xlsx', header=True, index=False)
pd.DataFrame(MS_better).to_excel('3_GENERATED WEEKLY FILES/MS_better.xlsx', header=True, index=False)

In [11]:
inaccurate = (myth_vars[(myth_vars['inaccurate'] == 'Yes')]).survey_var.unique()
accurate = (myth_vars[(myth_vars['inaccurate'] == 'No')]).survey_var.unique()
unclear = (myth_vars[(myth_vars['inaccurate'] == 'Unclear')]).survey_var.unique()

In [12]:
inaccurate = (myth_vars[(myth_vars['inaccurate'] == 'Yes')]).survey_var.unique()
accurate = (myth_vars[(myth_vars['inaccurate'] == 'No')]).survey_var.unique()
unclear = (myth_vars[(myth_vars['inaccurate'] == 'Unclear')]).survey_var.unique()

In [13]:
unique_sites = pd.unique(df['site'])
unique_sources = ['On social media', 'Other internet source', 'TV/radio']

In [14]:
result = []
result.append(['myth', 'survey_date', 'group', 'exposure', 'believe'])
print(type(result))

source_result = []
source_result.append(['myth', 'survey_date', 'source_pct', 'source'])

<class 'list'>

In [15]:
df_accurate = df[['surveydate', 'site']]
df_inaccurate = df[['surveydate', 'site']]
df_unclear = df[['surveydate', 'site']]

any_heard_result = []
any_heard_result.append(['surveydate', 'sum_inac', 'count_inac', 'inaccurate_pct', 'sum_acc', 'count_acc', 'accurate_pct', 'sum_unc', 'count_unc', 'unclear_pct', 'source'])
# In[25]:

# Create seperate dataframes for accurate and inaccurate myths
for each_myth in unique_myths:
    df_extracted = df[[each_myth]]
    if (each_myth in accurate):
        df_accurate = pd.concat([df_accurate, df_extracted], axis=1)

    if (each_myth in inaccurate):
        df_inaccurate = pd.concat([df_inaccurate, df_extracted], axis=1)
        
    if (each_myth in unclear):
        df_unclear = pd.concat([df_unclear, df_extracted], axis=1)

In [16]:
for each_myth in unique_myths:
    if each_myth in df.columns:
        df_extracted = df[[each_myth]]
        # Further processing...
    else:
        print(f"Column {each_myth} not found in DataFrame.")

In [17]:
def any_heard(each_date, each_site):
    if(each_site == 'All'):
        acc_for_date = df_accurate.loc[df_accurate['surveydate'] == each_date]
        inacc_for_date = df_inaccurate.loc[df_inaccurate['surveydate'] == each_date]
        unc_for_date = df_unclear.loc[df_unclear['surveydate'] == each_date]
        length_total = acc_for_date.shape[0]

        temp_acc = acc_for_date.iloc[:, 2:]
        temp_acc = temp_acc[(temp_acc == 'Yes').any(axis=1)]
        length_of_temp_acc = len(temp_acc[(temp_acc == 'Yes').any(axis=1)])

        temp_inacc = inacc_for_date.iloc[:, 2:]
        temp_inacc = temp_inacc[(temp_inacc == 'Yes').any(axis=1)]
        length_of_temp_inacc = len(temp_inacc[(temp_inacc == 'Yes').any(axis=1)])
        
        temp_unc = unc_for_date.iloc[:, 2:]
        temp_unc = temp_unc[(temp_unc == 'Yes').any(axis=1)]
        length_of_temp_unc = len(temp_unc[(temp_unc == 'Yes').any(axis=1)])
        

        if(length_total > 0):
            row_to_input = [each_date, length_of_temp_inacc, length_total, round((length_of_temp_inacc / length_total), 2), length_of_temp_acc, length_total, round((length_of_temp_acc / length_total), 2), length_of_temp_unc, length_total, round((length_of_temp_unc / length_total), 2), 'All']
        else:
            row_to_input = [each_date, length_of_temp_inacc, length_total, 0, length_of_temp_acc, length_total, 0, length_of_temp_unc, length_total, 0, 'All']
        any_heard_result.append(row_to_input)

    elif (each_site != 'All'):
        acc_for_date = df_accurate[(df_accurate['surveydate'] == each_date) & (df_accurate['site'] == each_site)]
        inacc_for_date = df_inaccurate.loc[df_inaccurate['surveydate'] == each_date]
        unc_for_date = df_unclear.loc[df_unclear['surveydate'] == each_date]
        length_total = acc_for_date.shape[0]

        temp_acc = acc_for_date.iloc[:, 2:]
        temp_acc = temp_acc[(temp_acc == 'Yes').any(axis=1)]
        length_of_temp_acc = len(temp_acc[(temp_acc == 'Yes').any(axis=1)])

        temp_inacc = inacc_for_date.iloc[:, 2:]
        temp_inacc = temp_inacc[(temp_inacc == 'Yes').any(axis=1)]
        length_of_temp_inacc = len(temp_inacc[(temp_inacc == 'Yes').any(axis=1)])
        
        temp_unc = unc_for_date.iloc[:, 2:]
        temp_unc = temp_unc[(temp_unc== 'Yes').any(axis=1)]
        length_of_temp_unc= len(temp_unc[(temp_unc == 'Yes').any(axis=1)])

        if(length_total >  0):
            row_to_input = [each_date, length_of_temp_inacc, length_total, round((length_of_temp_inacc / length_total), 2), length_of_temp_acc, length_total, round((length_of_temp_acc / length_total), 2), length_of_temp_unc, length_total, round((length_of_temp_unc / length_total), 2), each_site]

        else:
            row_to_input = [each_date, length_of_temp_inacc, length_total, 0, length_of_temp_acc, length_total, 0, length_of_temp_unc, length_total, 0, 'All']
        any_heard_result.append(row_to_input)

In [18]:
def source_calculation(source_result, unique_sources, date_column, each_myth, each_site):
    if (each_site != 'All'):
        source_total = len(df_source[(df_source[each_myth] == 'Yes') & (df_source['site'] == each_site) & (df_source['surveydate'] == date_column)])
        source_said_yes_max = len(df_source[(df_source[each_myth + '_where'].str.contains('Family member or friend|Neighbor or coworker|Someone else')) &
                                            (df_source['site'] == each_site) &
                                            (df_source['surveydate'] == date_column)])
        each_source_max = 'Family friend or someone else'
        for each_source in unique_sources:
            source_said_yes = len(df_source[(df_source[each_myth + '_where'].str.contains(each_source)) & (df_source['site'] == each_site) & (df_source['surveydate'] == date_column)])
            if (source_said_yes > source_said_yes_max):
                source_said_yes_max = source_said_yes
                each_source_max = each_source
            elif ((source_said_yes == source_said_yes_max) and (each_source == 'TV/Radio' or each_source == 'Other internet source')):
                source_said_yes_max = source_said_yes
                each_source_max = each_source
        if (source_said_yes_max > 0 and source_total > 0):
            row_to_input = [each_myth, date_column, round((source_said_yes_max / source_total) * 100, 1), each_source_max, each_site]
            source_result.append(row_to_input)
    elif(each_site == 'All'):
        source_total = len(df_source[(df_source[each_myth] == 'Yes') & (df_source['surveydate'] == date_column)])
        source_said_yes_max = len(df_source[(df_source[each_myth + '_where'].str.contains('Family member|Friend|Neighbor|Coworker|Family member or friend|Neighbor or coworker|Someone else')) &
                                            (df_source['surveydate'] == date_column)])
        each_source_max = 'Family friend or someone else'
        for each_source in unique_sources:
            source_said_yes = len(df_source[(df_source[each_myth + '_where'].str.contains(each_source)) & (df_source['surveydate'] == date_column)])
            if (source_said_yes > source_said_yes_max):
                source_said_yes_max = source_said_yes
                each_source_max = each_source
            elif ((source_said_yes == source_said_yes_max) and (each_source == 'TV/Radio' or each_source == 'Other internet source')):
                source_said_yes_max = source_said_yes
                each_source_max = each_source
        if (source_said_yes_max > 0 and source_total > 0):
            row_to_input = [each_myth, date_column, round((source_said_yes_max / source_total) * 100, 1), each_source_max, 'All']
            source_result.append(row_to_input)

In [19]:
def populate_results(result, unique_column, column_name, date_column, each_myth, each_site):
    if (each_site != 'All' and column_name  != 'All'):
        for each_value in unique_column:
            myth_total = len(df1[(df1[column_name] == each_value) & (df1['site'] == each_site) & (df1['surveydate'] == date_column)])
            myth_yes = len(df1[(df1[column_name] == each_value) & (df1['site'] == each_site) & (df1['surveydate'] == date_column) & (df1[each_myth] == 'Yes')])

            df_believe_not_null['sub_rank'] = df_believe_not_null.groupby('ExternalReference')['surveydate'].rank(method='dense', ascending=True)
            df3 = df_believe_not_null.loc[df_believe_not_null['surveydate'] <= date_column]

            believe_total = len(df3[(df3['sub_rank'] == 1) & (df3[column_name] == each_value) & (df3['site'] == each_site)])
            believe_first = len(df3[(df3['sub_rank'] == 1) & (df3[each_myth + '_react'] == 1) & (df3[column_name] == each_value) & (df3['site'] == each_site)])

            if (believe_total != 0 and myth_total != 0):
                single_all_row = [each_myth, date_column, each_value, round((myth_yes / myth_total) * 100, 1),round((believe_first / believe_total) * 100, 1), each_site]
                result.append(single_all_row)
            
            elif (believe_total == 0 and myth_total != 0):
                single_all_row = [each_myth, date_column, each_value, 0, 0, each_site]
                result.append(single_all_row)

    elif(each_site == 'All' and column_name != 'All'):
        for each_value in unique_column:
            myth_total = len(df1[(df1[column_name] == each_value) & (df1['surveydate'] == date_column)])
            myth_yes = len(df1[(df1[column_name] == each_value) & (df1['surveydate'] == date_column) & (df1[each_myth] == 'Yes')])

            df_believe_not_null['sub_rank'] = df_believe_not_null.groupby('ExternalReference')['surveydate'].rank(method='dense', ascending=True)
            df3 = df_believe_not_null.loc[df_believe_not_null['surveydate'] <= date_column]

            believe_total = len(df3[(df3['sub_rank'] == 1) & (df3[column_name] == each_value)])
            believe_first = len(df3[(df3['sub_rank'] == 1) & (df3[each_myth + '_react'] == 1) & (df3[column_name] == each_value)])

            if (believe_total != 0 and myth_total != 0):
                single_all_row = [each_myth, date_column, each_value, round((myth_yes / myth_total) * 100, 1),round((believe_first / believe_total) * 100, 1), 'All']
                result.append(single_all_row)
                
            elif (believe_total == 0 and myth_total != 0):
                single_all_row = [each_myth, date_column, each_value, 0, 0, each_site]
                result.append(single_all_row)

    elif (each_site != 'All' and column_name == 'All'):
        myth_total = len(df1[(df1['site'] == each_site) & (df1['surveydate'] == date_column)])
        myth_yes = len(df1[(df1['site'] == each_site) & (df1['surveydate'] == date_column) & (df1[each_myth] == 'Yes')])

        df_believe_not_null['sub_rank'] = df_believe_not_null.groupby('ExternalReference')['surveydate'].rank(method='dense', ascending=True)
        df3 = df_believe_not_null.loc[df_believe_not_null['surveydate'] <= date_column]

        believe_total = len(df3[(df3['sub_rank'] == 1) & (df3['site'] == each_site)])
        believe_first = len(df3[(df3['sub_rank'] == 1) & (df3[each_myth + '_react'] == 1) & (df3['site'] == each_site)])

        if (believe_total != 0 and myth_total != 0):
            single_all_row = [each_myth, date_column, 'All', round((myth_yes / myth_total) * 100, 1),round((believe_first / believe_total) * 100, 1), each_site]
            result.append(single_all_row)
            
        elif (believe_total == 0 and myth_total != 0):
            single_all_row = [each_myth, date_column, 'All', 0, 0, each_site]
            result.append(single_all_row)

    elif (each_site == 'All' and column_name == 'All'):
        myth_total = len(df1[(df1['surveydate'] == date_column)])
        myth_yes = len(df1[(df1['surveydate'] == date_column) & (df1[each_myth] == 'Yes')])

        df_believe_not_null['sub_rank'] = df_believe_not_null.groupby('ExternalReference')['surveydate'].rank(method='dense', ascending=True)
        df3 = df_believe_not_null.loc[df_believe_not_null['surveydate'] <= date_column]

        believe_total = len(df3[(df3['sub_rank'] == 1)])
        believe_first = len(df3[(df3['sub_rank'] == 1) & (df3[each_myth + '_react'] == 1)])

        if (believe_total != 0 and myth_total != 0):
            single_all_row = [each_myth, date_column, 'All', round((myth_yes / myth_total) * 100, 1), round((believe_first / believe_total) * 100, 1), 'All']
            result.append(single_all_row)
            
        elif (believe_total == 0 and myth_total != 0):
            single_all_row = [each_myth, date_column, 'All', 0, 0, each_site]
            result.append(single_all_row)

In [20]:
for each_myth in unique_myths:
    if each_myth in df:
        df1 = df[[each_myth, 'age_cat_current', 'gender_cat', 'race_ethnicity_cat',  'surveydate', 'site']].dropna()
        unique_survey_dates = df1.surveydate.unique()
        unique_race = df1.race_ethnicity_cat.unique()
        unique_gender = df1.gender_cat.unique()
        unique_age_current= df1.age_cat_current.unique()
     

        df_believe = df[[each_myth, each_myth + '_react', 'age_cat_current', 'gender_cat', 'race_ethnicity_cat', 'surveydate', 'ExternalReference', 'site']].dropna()

        df_source = df[[each_myth, each_myth + '_where', 'surveydate', 'site']].dropna()
        unique_sources = df_source[each_myth + '_where'].unique()

    #############################################################################
    # new code to calculate sources information:
    # if each_myth in df.columns:


        if each_myth in inaccurate:
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Seems like it could be true'], 1)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Definitely true'], 1)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Not sure if it\'s true or untrue'], 1)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Definitely not true'], 0)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Seems like it\'s not true'], 0)

        if each_myth in accurate:
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Seems like it could be true'], 1)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Definitely true'], 1)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Not sure if it\'s true or untrue'], 0)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Definitely not true'], 0)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Seems like it\'s not true'], 0)
            
        if each_myth in unclear:
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Seems like it could be true'], 1)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Definitely true'], 1)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Not sure if it\'s true or untrue'], 1)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Definitely not true'], 0)
            df_believe[each_myth + '_react'] = df_believe[each_myth + '_react'].replace(['Seems like it\'s not true'], 0)

        df_believe['sub_rank'] = df_believe.groupby('ExternalReference')['surveydate'].rank(method='dense', ascending=True)
        df_believe = df_believe.astype({'surveydate': datetime64})

        df_believe_not_null = df_believe.loc[df_believe[each_myth].notnull()]

        for date_column in unique_survey_dates:
            # For each race_ethnicity
            unique_column = unique_race
            column_name = 'race_ethnicity_cat'
            for each_site in unique_sites:
                populate_results(result, unique_column, column_name, date_column, each_myth, each_site)

            # For each gender
            unique_column = unique_gender
            column_name = 'gender_cat'
            for each_site in unique_sites:
                populate_results(result, unique_column, column_name, date_column, each_myth, each_site)
            
            # For each age current
            unique_column = unique_age_current
            column_name = 'age_cat_current'
            for each_site in unique_sites:
                populate_results(result, unique_column, column_name, date_column, each_myth, each_site)

            for each_site in unique_sites:
                populate_results(result, 'All', 'All', date_column, each_myth, each_site)
                source_calculation(source_result, unique_sources, date_column, each_myth, each_site)
                any_heard(date_column, each_site)
                
            populate_results(result, 'All', 'All', date_column, each_myth, 'All')
            source_calculation(source_result, unique_sources, date_column, each_myth, 'All')
            any_heard(date_column, 'All')

In [21]:
# rename myth variable in myth_vars to myth for merging
myth_vars2 = myth_vars.rename(columns={"survey_var": "myth"})

# drop result_var
myth_vars2 = myth_vars2.drop(columns = ['result_var'])
myth_vars2.rename(columns=myth_vars2.iloc[1])
myth_vars2.head()

             myth inaccurate  has_whitespace
0   M109_CovMonvx         No           False
1   M120_CovNrise         No           False
2    M121_NhnADHD         No           False
3   M122_StlMCCWt         No           False
4  M123_CovNwVrnt         No           False

In [22]:
result = pd.DataFrame(result)
new_header = result.iloc[0] # grab the first row for the header
result = result[1:] # take the data less the header row
result.columns = new_header # set the header row as the df header

In [23]:
result.head()

,myth,survey_date,group,exposure,believe,None
1,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH White,25.6,100.0,STL
2,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH Black or African American,56.5,100.0,STL
3,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH Other,8.3,100.0,STL
4,M109_CovMonvx,2023-09-02T00:00:00.000000000,Hispanic,33.3,100.0,STL
5,M109_CovMonvx,2023-09-02T00:00:00.000000000,Female,35.8,100.0,STL

In [24]:
# Merge in accuracy of myth variable
results = pd.merge(result, myth_vars2)

In [25]:
results.head()

,myth,survey_date,group,exposure,believe,None,inaccurate,has_whitespace
0,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH White,25.6,100.0,STL,No,False
1,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH Black or African American,56.5,100.0,STL,No,False
2,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH Other,8.3,100.0,STL,No,False
3,M109_CovMonvx,2023-09-02T00:00:00.000000000,Hispanic,33.3,100.0,STL,No,False
4,M109_CovMonvx,2023-09-02T00:00:00.000000000,Female,35.8,100.0,STL,No,False

In [26]:
# Code threat levels
results['risk'] = 100 *(results.exposure * results.believe/(100*100))

In [27]:
# take the inverse for accurate information items
results.risk = np.where(results.inaccurate == 'Yes', results.risk, results.risk *  -1) # np.where is like ifelse
results.sort_values(by=['risk'])

,myth,survey_date,group,exposure,believe,None,inaccurate,has_whitespace,risk
9654,M182_CovSuWa,2024-06-29T00:00:00.000000000,Other sex,100.0,100.0,NE,No,False,-100.0
4310,M145_ConFakeOz,2024-01-27T00:00:00.000000000,Other sex,100.0,100.0,NE,No,False,-100.0
9762,M182.1_CovSuWa,2024-07-27T00:00:00.000000000,Other sex,100.0,100.0,NE,No,False,-100.0
4283,M145_ConFakeOz,2024-01-20T00:00:00.000000000,Other sex,100.0,100.0,NE,No,False,-100.0
13754,M215_InfPnaK,2025-01-04T00:00:00.000000000,Other sex,100.0,100.0,NE,No,False,-100.0
...,...,...,...,...,...,...,...,...,...
19985,M243_VxAUD,2025-05-17T00:00:00.000000000,30-39,75.0,92.3,ATL,Yes,False,69.225
3057,M138_ConEyeSfe,2023-11-18T00:00:00.000000000,Other sex,100.0,100.0,NE,Yes,False,100.0
20099,M243_VxAUD,2025-05-31T00:00:00.000000000,Other sex,100.0,100.0,MIS,Yes,False,100.0
20035,M243_VxAUD,2025-05-24T00:00:00.000000000,Other sex,100.0,100.0,MIS,Yes,False,100.0
3030,M138_ConEyeSfe,2023-11-11T00:00:00.000000000,Other sex,100.0,100.0,NE,Yes,False,100.0

In [28]:
results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22311 entries, 0 to 22310
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   myth            22311 non-null  object
 1   survey_date     22311 non-null  object
 2   group           22311 non-null  object
 3   exposure        22311 non-null  object
 4   believe         22311 non-null  object
 5   None            22311 non-null  object
 6   inaccurate      22311 non-null  object
 7   has_whitespace  22311 non-null  bool
 8   risk            22311 non-null  object
dtypes: bool(1), object(8)
memory usage: 1.6+ MB

In [29]:
# classify
results['risk_level'] = np.where(results.inaccurate == "Yes",
                                 pd.cut(results.risk, [0, 5, 20, 100], 
                                        labels=("low", "moderate", "high"),
                                        include_lowest=True),
                                 pd.cut(results.risk, [-100, -20, -5, 0], 
                                        labels=("low", "moderate", "high"), 
                                        include_lowest=True))

In [30]:
results.head()

,myth,survey_date,group,exposure,believe,None,inaccurate,has_whitespace,risk,risk_level
0,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH White,25.6,100.0,STL,No,False,-25.6,low
1,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH Black or African American,56.5,100.0,STL,No,False,-56.5,low
2,M109_CovMonvx,2023-09-02T00:00:00.000000000,NH Other,8.3,100.0,STL,No,False,-8.3,moderate
3,M109_CovMonvx,2023-09-02T00:00:00.000000000,Hispanic,33.3,100.0,STL,No,False,-33.3,low
4,M109_CovMonvx,2023-09-02T00:00:00.000000000,Female,35.8,100.0,STL,No,False,-35.8,low

In [31]:
results['survey_date']= pd.to_datetime(results['survey_date']) # convert the 'surveydate' column to date format
results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22311 entries, 0 to 22310
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   myth            22311 non-null  object
 1   survey_date     22311 non-null  datetime64[ns]
 2   group           22311 non-null  object
 3   exposure        22311 non-null  object
 4   believe         22311 non-null  object
 5   None            22311 non-null  object
 6   inaccurate      22311 non-null  object
 7   has_whitespace  22311 non-null  bool
 8   risk            22311 non-null  object
 9   risk_level      22311 non-null  object
dtypes: bool(1), datetime64[ns](1), object(8)
memory usage: 1.7+ MB

In [32]:
# merge in myth name and drop myth column or strip everything including _ before name
results['myth'] = results['myth'].str.replace('..+?\_', '', 1, regex = True)

In [33]:
# name site column site
results.rename(columns={None:'site'}, inplace=True) #Note: None is a system column name with no single quotes

In [34]:
results.tail()
list(results.columns)

['myth',
 'survey_date',
 'group',
 'exposure',
 'believe',
 'site',
 'inaccurate',
 'has_whitespace',
 'risk',
 'risk_level']

In [35]:
# change date format and get site specific files
results['survey_date'] = pd.to_datetime(results['survey_date']).dt.date
STL_results = (results[(results['site'] == 'STL')])
NE_results = (results[(results['site'] == 'NE')])
ATL_results = (results[(results['site'] == 'ATL')])
NC_results = (results[(results['site'] == 'NC')])
MS_results = (results[(results['site'] == 'MIS')])

# export site specific files
pd.DataFrame(results).to_csv('3_GENERATED WEEKLY FILES/M_all3.csv', index = False)
pd.DataFrame(STL_results).to_csv('3_GENERATED WEEKLY FILES/STL_M_all3.csv', index = False)
pd.DataFrame(NE_results).to_csv('3_GENERATED WEEKLY FILES/NE_M_all3.csv', index = False)
pd.DataFrame(ATL_results).to_csv('3_GENERATED WEEKLY FILES/ATL_M_all3.csv', index = False)
pd.DataFrame(NC_results).to_csv('3_GENERATED WEEKLY FILES/NC_M_all3.csv', index = False)
pd.DataFrame(MS_results).to_csv('3_GENERATED WEEKLY FILES/MS_M_all3.csv', index = False)

In [36]:
results.head()
STL_results.head()

,myth,survey_date,group,exposure,believe,site,inaccurate,has_whitespace,risk,risk_level
0,CovMonvx,2023-09-02,NH White,25.6,100.0,STL,No,False,-25.6,low
1,CovMonvx,2023-09-02,NH Black or African American,56.5,100.0,STL,No,False,-56.5,low
2,CovMonvx,2023-09-02,NH Other,8.3,100.0,STL,No,False,-8.3,moderate
3,CovMonvx,2023-09-02,Hispanic,33.3,100.0,STL,No,False,-33.3,low
4,CovMonvx,2023-09-02,Female,35.8,100.0,STL,No,False,-35.8,low

In [37]:
source_result = pd.DataFrame(source_result)
source_result.head()

,0,1,2,3,4
0,myth,survey_date,source_pct,source,None
1,M109_CovMonvx,2023-09-02T00:00:00.000000000,62.1,TV/radio,STL
2,M109_CovMonvx,2023-09-02T00:00:00.000000000,62.1,TV/radio,All
3,M109_CovMonvx,2023-09-09T00:00:00.000000000,59.0,TV/radio,STL
4,M109_CovMonvx,2023-09-09T00:00:00.000000000,100.0,Family friend or someone else,NE

In [38]:
# change first row to header row
source_result = pd.DataFrame (source_result)
header_row = 0
source_result.columns = source_result.iloc[header_row]
source_result = source_result.drop(source_result.index[[0]])

In [39]:
source_result.head()

,myth,survey_date,source_pct,source,None
1,M109_CovMonvx,2023-09-02T00:00:00.000000000,62.1,TV/radio,STL
2,M109_CovMonvx,2023-09-02T00:00:00.000000000,62.1,TV/radio,All
3,M109_CovMonvx,2023-09-09T00:00:00.000000000,59.0,TV/radio,STL
4,M109_CovMonvx,2023-09-09T00:00:00.000000000,100.0,Family friend or someone else,NE
5,M109_CovMonvx,2023-09-09T00:00:00.000000000,58.1,TV/radio,All

In [40]:
# df['date'] = pd.to_datetime(df['date']).dt.date
source_result['survey_date'] = pd.to_datetime(source_result['survey_date']).dt.date

In [41]:
# name site column site
source_result.rename(columns={None:'site'}, inplace=True) # Note: None is a system column name with no single quotes

In [42]:
source_result.head()

0           myth survey_date source_pct                         source site
1  M109_CovMonvx  2023-09-02       62.1                       TV/radio  STL
2  M109_CovMonvx  2023-09-02       62.1                       TV/radio  All
3  M109_CovMonvx  2023-09-09       59.0                       TV/radio  STL
4  M109_CovMonvx  2023-09-09      100.0  Family friend or someone else   NE
5  M109_CovMonvx  2023-09-09       58.1                       TV/radio  All

In [43]:
# strip everything including _ before name
source_result['myth'] = source_result['myth'].str.replace('..+?\_', '', 1, regex = True)

In [44]:
STL_source_result = (source_result[(source_result['site'] == 'STL')])
NE_source_result = (source_result[(source_result['site'] == 'NE')])
ATL_source_result = (source_result[(source_result['site'] == 'ATL')])
NC_source_result = (source_result[(source_result['site'] == 'NC')])
MS_source_result = (source_result[(source_result['site'] == 'MIS')])

In [45]:
pd.DataFrame(source_result).to_csv('3_GENERATED WEEKLY FILES/Top_Sources2.csv', header=True, index=False)
pd.DataFrame(STL_source_result).to_csv('3_GENERATED WEEKLY FILES/STL_Top_Sources2.csv', header=True, index=False)
pd.DataFrame(NE_source_result).to_csv('3_GENERATED WEEKLY FILES/NE_Top_Sources2.csv', header=True, index=False)
pd.DataFrame(ATL_source_result).to_csv('3_GENERATED WEEKLY FILES/ATL_Top_Sources2.csv', header=True, index=False)
pd.DataFrame(NC_source_result).to_csv('3_GENERATED WEEKLY FILES/NC_Top_Sources2.csv', header=True, index=False)
pd.DataFrame(MS_source_result).to_csv('3_GENERATED WEEKLY FILES/MS_Top_Sources2.csv', header=True, index=False)

In [46]:
pd.DataFrame(any_heard_result).to_csv('3_GENERATED WEEKLY FILES/any_heard2.csv', index = False)